- add_to_breadcrumbs _("Domain Verification"), group_settings_domain_verification_index_path(@group)
- breadcrumb_title s_("DomainVerification|Edit Domain")
- page_title domain_presenter.domain
%h1.page-title.gl-font-size-h-display
  = s_("DomainVerification|Edit Domain")
= render 'groups/settings/domain_verification/helper_text'
%div
  = gitlab_ui_form_for domain_presenter, url: group_settings_domain_verification_path(@group, domain_presenter), html: { name: "domain-form", class: 'fieldset-form' } do |f|
    = render 'form', { f: f }
    = f.submit _('Save Changes'), class: 'gl-mr-3', pajamas_button: true
    = link_to _('Cancel'), group_settings_domain_verification_index_path(@group), class: 'gl-button btn btn-default btn-cancel'
